:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --red: 229, 57, 53;
  --orange: 251, 140, 0;
  --yellow: 253, 216, 53;
  --green: 67, 160, 71;
  --blue: 30, 136, 229;
  --indigo: 57, 73, 171;
  --violet: 156, 39, 176;

  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

body {
  background-color: rgb(22, 22, 22);
  height: 100vh;
  margin: 0rem;
  overflow: auto;
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(33, 33, 255), rgb(255, 77, 70));
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: 1;
}

#blur {
  height: 50%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

.ContainerCenter {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.Flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container2 {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Secondary {
  background-color: rgb(0, 0, 0);
}

.Third {
  background-color: rgb(12, 12, 12);
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%,
    transparent 15%
  );
  background-position: 0% 0%;
  background-size: 50px 50px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  z-index: 3;
  padding: 2rem;
  position: relative;
}

.Spacing {
  height: 1rem;
}

.LearnMore {
  background-color: rgb(33, 33, 33);
  appearance: none;
  outline: none;
  border: none;
  border-radius: 29px;
  color: #616161;
  font-family: "Poppins", Arial;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin: 10px;
  box-shadow: 00px 10px 10px rgb(11, 11, 11);
  transition: all 0.25s ease-in-out 50ms;
}
.LearnMore:hover {
  color: white;
  transform: scale(1.1);
  background-color: #7d55e9;
  text-shadow: 0px 4px 8px #c3adff;
  box-shadow: 00px 1px 10px rgba(208, 151, 255, 0.5);
}

h1 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 2rem;
  color: white;
  z-index: 3;
  text-align: center;
}

h2 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 2rem;
  color: white;
  z-index: 3;
  text-align: center;
}

h3,
h4,
span {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.box {
  width: 16rem;
  height: auto;
  padding: 1px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
  z-index: 4;
  background-color: rgb(33, 33, 33);
  padding: 10px;
  border-radius: 1rem;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  /* Used as border highlight */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
    background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(200, 128, 255, 0.1),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 128, 255, 0.9),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  background-color: rgba(11, 11, 11, 0.9);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

i {
  color: rgb(240, 240, 240);
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.75;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }

  #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media (max-width: 500px) {
  .card {
    height: 180px;
  }

  .card-image {
    height: 80px;
  }

  .card-image > i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info > i {
    font-size: 0.8em;
  }

  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}

a {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
